<form action="/new" method="POST">
  <div class="form-group">
    <label for="original_url"></label>
    <input type="text" class="form-control mt-3 w-75 mx-auto" id="original_url" name="original_url"
      placeholder="input URL here" required>
  </div>
  <button type="submit" class="btn btn-outline-primary w-25 mb-3">Shorten</button>
</form>